.container{
  background-color: #0a192f;

}

.main{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.li{
  display: list-item;
  text-align: -webkit-match-parent;
  position: relative;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}


.title{
  color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
    font-weight: 400;
    line-height: 1.1;
    margin: 40px;
}
.sub{
  color: var(--slate);
  
}
.name{
  font-size: 2.5em;
  font-weight: 600;
    color: var(--lightest-slate);
    font-family: var(--font-sans);
    line-height: 1.1;
    margin: 40px;
}

.description{
  margin: 40px;
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;
}

.footer {
  color:var(--green);
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-family: var(--font-mono);
}

@media all and (device-width: 820px) and (device-height: 1180px) and (orientation:portrait) {
  .main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .img{
    margin: 30px;
    
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
 /* .main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .img{
    width: 50%;
    height: auto;
    margin: 30px;
  }
 */
  
 
}








.card {
  border: 1px solid var(--green);
  border-color: var(--green);
  border-radius: 20px;
  width: 30%;
  height: 52vh;
  margin: 20px;
      animation: animate-profile-picture 800ms 200ms backwards;
  
}
@keyframes animate-profile-picture {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* PC  */
@media only screen and (min-width: 768px) {
  .img{
    height: 40vh;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: 10px;
  }
}
/* mobile */ 
@media (max-width: 600px) {
  /* Asegúrate de que el contenedor de la imagen esté centrado */
.card {
  width: 90%; /* Ajusta el ancho de la tarjeta según lo necesario */
  margin: 10px auto; /* Asegúrate de que la tarjeta esté centrada */
  text-align: center;
  height: auto; /* Centra el contenido dentro de la tarjeta */
}

.img {
  width: 90%; /* Ajusta el ancho de la imagen */
  border-radius: 20px;
  margin-bottom: 20px;
  height: 100% ;
}

/* Si necesitas ajustar el contenedor principal */
.main {
  display: flex;
  flex-direction: column; /* Apilar verticalmente en pantallas pequeñas */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

  .title {
    font-size: var(--fz-lg);
    text-align: center; /* Opcional: centrado de texto para mejor estética en móviles */
  }
}



@media (prefers-color-scheme: dark) {
  
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
 
}


.body {
  height: 100vh;
  overflow: hidden;
  opacity: 0.5;
  background-color: black;
  
  display: flex;
}



.a{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 30px;
  font-family: var(--font-mono);
  color: var(--green);
  
}

.name2{
  font-size: 2.5em;
  font-weight: 600;
    color: var(--lightest-slate);
    font-family: var(--font-sans);
    line-height: 1.1;
    text-align: center;
}

.description2{
  text-align: center;
  color: var(--white);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;
  margin: 5px;
  margin-bottom: 30px;
}

.email{color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-sm);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin: 30px;
    text-align:center;
    display:block;
}

.ul{
  margin: 10px;
}


/* Estilos para dispositivos de tamaño mediano (como iPads) */
@media (min-width: 768px) and (max-width: 1024px) {
  .img {
    width: 80%; /* Ajusta el ancho de la imagen para pantallas de iPad */
    border-radius: 20px;
    margin-bottom: 35px;

  }

  .card {
    width: 80%; /* Ajusta el ancho de la tarjeta */
    margin: 20px auto; /* Ajusta el margen para centrado */
    text-align: center; /* Centra el texto dentro de la tarjeta */
    height: auto;
  }

  .main {
    display: flex;
    flex-direction: row; /* Cambiado a row para un diseño de tarjeta más horizontal */
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos al principio */
    flex-wrap: wrap;
  }

  .title {
    font-size: var(--fz-lg);
    text-align: center; /* Opcional: centrado del texto */
  }
}

